/* src/components/VideoCard.css */
.video-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  .video-card video {
    border-radius: 8px;
  }
  
  .video-card p {
    margin: 5px 0;
    text-align: center;
    font-size: 14px;
  }
  