.video-card {
  width: 300px; /* Aumenta a largura do card */
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  flex: 0 0 auto; /* Mantém o tamanho fixo do card */
  margin-right: 10px; /* Espaçamento entre os cards */
}

.video-card video {
  width: 100%;
  height: 200px; /* Aumenta a altura do vídeo */
  object-fit: cover; /* Ajusta o vídeo para cobrir o container */
}

.video-card p {
  padding: 10px;
  font-size: 0.9em;
  color: #ccc;
}
