.video-row {
  margin-bottom: 40px; /* Espaçamento entre as rows */
}

.video-row__divider {
  border: none;
  border-top: 2px solid #333; /* Cor e espessura da linha */
  margin: 20px 0; /* Espaçamento acima e abaixo da linha */
  width: 100%; /* Ocupa toda a largura disponível */
}

.video-row__list {
  display: flex;
  flex-wrap: nowrap; /* Garante que os vídeos fiquem em uma única linha */
  overflow-x: auto;
  padding: 10px 0; /* Adiciona padding apenas na vertical */
  scroll-behavior: smooth;
}
